body {
  background-color: rgb(255, 82, 82);
}
p {
  color: lightgrey;
  font-size: 9px;
  padding: 0px 20px 13px 20px;
}
h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
input {
  align-items: center;
  height: 100%;
  padding: var(--input-padding);
  padding-top: 0;
  padding-bottom: 0;
  color: var(--v-input-color);
  font-family: sans-serif monospace;
  background-color: var(--background-page);
  border: var(--border-width) solid var(--border-normal);
  border-radius: var(--border-radius);
}
button {
  background-color: slateblue;
  padding: 0px 12px;
  cursor: pointer;
}
.input {
  border: 1px black solid;
}
.input:hover {
  border: 5px red dashed;
}
#logo {
  border: 1px black solid;
}
#login {
  border: 1px black solid;
  border-radius: 50px;
}
.username-input {
  border: 1px blue dotted;
}
.eye {
  cursor: pointer;
}
