body {
  display: flex;
  background-color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: row;
  margin: 0;
}
p {
  color: lightgrey;
  font-size: 11px;
  padding: 0px 20px 40px 44px;
}
h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
input {
  height: 30px;
  width: 270px;
  flex-grow: 1;
  border: none;
  /* align-items: center;
  height: 100%;
  /* padding: var(--input-padding);
  padding-top: 0;
  padding-bottom: 0; */
  /* color: var(--v-input-color);
  font-family: sans-serif monospace; */
  /* background-color: var(--background-page);
  border: var(--border-width) solid var(--border-normal);
  border-radius: var(--border-radius); */
}
button {
  padding: 1px 12px;
  cursor: pointer;
  width: 95px;
  height: 30px;
  border-radius: 5px;
  background-color: #8376f3;
  padding: 1px 12px;
  cursor: pointer;
  border: none;
  color: white;
}
.input {
  height: 36px;
  width: 271px;
  border: 1px solid lightgrey;
  margin: 10px 0px 22px 0px;
  padding: 0px 5px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-radius: 6px;
}
.email-field {
  height: 35px;
  width: 271px;
  border: 1px solid lightgrey;
  border-radius: 7px;
  padding: 0px 5px;
}
.input:hover {
  border: 2px lightblue solid;
}
.input:active {
  border: none;
}

#login {
  /* border: 1px black solid; */
  border-radius: 0px;
}
.username-input {
  border: 1px blue dotted;
}
.eye {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 500px;
  /* border: 1px solid rgb(183, 0, 255); */
  /* padding: 39px 17px 49px 64px; */
  background-color: rgb(255, 255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.art {
  background-image: url(assets/Pattern.cc25697c.svg),
    radial-gradient(circle, #889bf3 35%, #836af3 88%);
  flex-grow: 1;
}

#logo {
  position: absolute;
  top: 5em;
  left: 7em;
}
